---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Dusan Odalovic
      </span>
    </h1>
    <p class="text-2xl pb-4">Senior Backend Software Engineer</p>
  </div>
  <div>
    <p class="mb-5">
      Welcome to my website!
      <br />
      <br />
      I am a senior software engineer with over 13 years of experience designing scalable, resilient, cloud-targeting architectures using Kotlin and Java.
      <br />
      <br />
      I am accustomed to working in Agile, transparent environments, where communication and collaboration are key to delivering high-quality software solutions.
      <br />
      <br />
      If you need an experienced software engineer to help with your next project, please don't hesitate to get in touch. I am always eager to discuss new opportunities and explore ways that I can help you achieve your goals.
      <br /><br />
      You can contact me via email at <a href="mailto:dodalovic@gmail.com">dodalovic@gmail.com</a>
    </p>
  </div>
</section>
